* {
    box-sizing: border-box;
    font-family: 'Playfair Display SC', serif;
}

:root {
    --clr-light:#ffffff;
    --clr-dark: #000000;
    --clr-primary: #dbffa2;
    --clr-secondary: #c3fcf2;
    --clr-accent: #ff7750;

    --clr-lightrgb: 255, 255, 255;
    --clr-darkrgb: 0, 0, 0;

    --boxGrid: rgba(var(--clr-darkrgb), .1);

    --textShadow1: 2px 2px 2px rgba(var(--clr-darkrgb), .35);
    --textShadow2: 1px 1px 1px rgba(var(--clr-darkrgb), .25);

    --containerShadowColor1: 10px 10px 15px 1px rgba(var(--clr-darkrgb), .15);
    --containerShadowColor2: 8px 8px 10px 1px rgba(var(--clr-darkrgb), .30);
    --containerShadowColor3: 3px 3px 5px 1px rgba(var(--clr-darkrgb), .70);

    --btnShadowColor1: 10px 10px 15px rgba(var(--clr-darkrgb), .10);
    --btnShadowColor2: 8px 8px 10px rgba(var(--clr-darkrgb), .20);
    --btnShadowColor3: 3px 3px 5px rgba(var(--clr-darkrgb), .55);

    --insidebtnShadowColor1: inset 4px 4px 10px 1px rgba(var(--clr-darkrgb), .10);
    --insidebtnShadowColor2: inset 3px 3px 10px 1px rgba(var(--clr-darkrgb), .20);
    --insidebtnShadowColor3: inset 2px 2px 5px 1px rgba(var(--clr-darkrgb), .55);

    --btnTextShadowColor1: 2px 1px 2px rgba(var(--clr-darkrgb), .50);
    --btnTextShadowColor2: 1px 1px 1px rgba(var(--clr-lightrgb), .25);

    --btnActiveShadowColor1: 4px 4px 5px 1px rgba(var(--clr-darkrgb), .15);
    --btnActiveShadowColor2: 3px 3px 4px 1px rgba(var(--clr-darkrgb), .35);
    --btnActiveShadowColor3: 1px 1px 2px 1px rgba(var(--clr-darkrgb), .85);
}

.darkmode {
    --clr-light: #1a181a;
    --clr-dark: #eee3c1;
    
    --clr-secondary: #434038;
    --clr-accent: #d1342f;

    --clr-lightrgb: 26, 24, 26;
    --clr-darkrgb: 238, 227, 193;

    --boxGrid: rgba(var(--clr-darkrgb), .1);

    --textShadow1: 2px 2px 2px rgba(var(--clr-darkrgb), .35);
    --textShadow2: 1px 1px 1px rgba(var(--clr-darkrgb), .25);

    --containerShadowColor1: 10px 10px 15px 1px rgba(var(--clr-darkrgb), .15);
    --containerShadowColor2: 8px 8px 10px 1px rgba(var(--clr-darkrgb), .30);
    --containerShadowColor3: 3px 3px 5px 1px rgba(var(--clr-darkrgb), .70);

    --btnShadowColor1: 10px 10px 15px rgba(var(--clr-darkrgb), .10);
    --btnShadowColor2: 8px 8px 10px rgba(var(--clr-darkrgb), .20);
    --btnShadowColor3: 3px 3px 5px rgba(var(--clr-darkrgb), .55);

    --insidebtnShadowColor1: inset 4px 4px 10px 1px rgba(var(--clr-darkrgb), .10);
    --insidebtnShadowColor2: inset 3px 3px 10px 1px rgba(var(--clr-darkrgb), .20);
    --insidebtnShadowColor3: inset 2px 2px 5px 1px rgba(var(--clr-darkrgb), .55);

    --btnTextShadowColor1: 2px 1px 2px rgba(var(--clr-darkrgb), .50);
    --btnTextShadowColor2: 1px 1px 1px rgba(var(--clr-lightrgb), .25);

    --btnActiveShadowColor1: 4px 4px 5px 1px rgba(var(--clr-darkrgb), .15);
    --btnActiveShadowColor2: 3px 3px 4px 1px rgba(var(--clr-darkrgb), .35);
    --btnActiveShadowColor3: 1px 1px 2px 1px rgba(var(--clr-darkrgb), .85);
  }

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.75rem;
    padding-left: 25px;
    border: solid 2px var(--clr-dark);
    box-shadow: var(--containerShadowColor1),
                var(--containerShadowColor2),
                var(--containerShadowColor3);
}

h1,
h3 {
    text-shadow: var(--textShadow1),
                 var(--textShadow2);
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
    text-shadow: var(--textShadow1),
                 var(--textShadow2);
}

.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
  }

section {
    display: flex;
    justify-content: space-evenly;  
    margin: 0 auto;
}

.color-selector-container,
.size-selection-container {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.color-btn-container,
.size-btn-container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.grid-container-border {
    margin: 2rem;
    padding: 55px;
    border: solid 4px var(--clr-dark);
    box-shadow: var(--containerShadowColor1),
                var(--containerShadowColor2),
                var(--containerShadowColor3);
}
    
.grid-container {
    box-sizing: content-box;
    border: solid 2px var(--clr-dark);
    min-width: 480px;
    max-width: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-size-btn .hover {
    display: none;
}

.grid-size-btn:hover .defalt {
    display: none;
}

.grid-size-btn:hover .hover {
    display: inline;
}

.btn {
    position: relative;
    width: 100px;
    padding: .25rem 0;
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-dark);
    background: none;
    border: solid 2px var(--clr-dark);
    border-radius: 4px;
    box-shadow: var(--btnShadowColor1),
                var(--btnShadowColor2),
                var(--btnShadowColor3);
    text-shadow: var(--btnTextShadowColor1),
                 var(--btnTextShadowColor2);
                 
    
}

.btn:hover {
    cursor: pointer;
}

.btn::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: var(--insidebtnShadowColor1),
                var(--insidebtnShadowColor2),
                var(--insidebtnShadowColor3);
}

.btn:active {
    top: 1px;
    left: 1px;
    box-shadow: var(--btnActiveShadowColor1),
                var(--btnActiveShadowColor2),
                var(--btnActiveShadowColor3);
}

.btn-black:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}


.btn-gray-gradient:hover {
    background-image: linear-gradient(to bottom right, rgb(235, 235, 235), rgb(0, 0, 0));
    color: white;
}

.btn-worm:hover {
    background-image: linear-gradient(to bottom right, rgb(120, 1, 22), rgb(195, 47, 39), rgb(216, 87, 42), rgb(219, 124, 38), rgb(247, 181, 56));
}

.btn-cold:hover {
    background-image: linear-gradient(to bottom right, rgb(232, 249, 253), rgb(121, 218, 232), rgb(10, 161, 221), rgb(33, 85, 205), rgb(85, 52, 165));
}

.box {
    border: solid 1px var(--boxGrid);
}

.grid-16 {
    width: 30px;
    height: 30px;
}

.grid-24 {
    width: 20px;
    height: 20px;
}

.grid-32 {
    width: 15px;
    height: 15px;
}

.grid-48 {
    width: 10px;
    height: 10px;
}



